<!--Footer-->
		<div class="row">
			<div class="footer">
				<div class="col-md-12">
					<div class="col-md-3 col-xs-12 footer-logo pull-right">
						<img src="/images/logo.png">
					</div>
					<div class="col-md-9 col-xs-12 footer-link pull-left">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/aboutus">About Us</a></li>
							<li><a href="/contactus">Contact Us</a></li>                            
						</ul>
					</div>
				</div>
                <div class="col-md-12 footer-text">
				    <p>"Blogging can seem like a quick and easy way to draw attention to yourself as a technology professional. You post your opinions and you've got a worldwide audience."</p>
                </div>
				<div class="col-md-12 footer-text">
					<p>&copy 2018 Copyright: <a style="color: #ffffff"  href="/">www.basefunction.com</a></p>
				</div>
			</div>
		</div>

{{!-- <footer class="panel-footer">
    <div class="container">
        <div class="row"> --}}
            <!--First column-->
            {{!-- <div class="col-md-3 ">
                <h4>ABOUT BLOGGER'S MEETS</h4>
                <p>© 2017 Copyright: Blogger's Meet</p>
            </div> --}}
            <!--/.First column-->

            <!--Second column-->
            {{!-- <div class="col-lg-9 ">                
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contactus">Contact us</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div> --}}
            <!--/.Second column-->

            <!--Third column-->
            {{!-- <div class="col-lg-3">
                <h5></h5>
                <ul type="none">
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div> --}}
            <!--/.Third column-->

            <!--Fourth column-->
            {{!-- <div class="col-lg-3">
                <h5></h5>
                <ul type="none">
                    <li><a href="#">About us</a></li>
                </ul>
            </div> --}}
            <!--/.Fourth column-->
        {{!-- </div>
    </div>
</footer> --}}

<!--/.Footer-->