<!-- Recent blogs Widget Well -->
{{#Compare mostrecentblogs.count ">" 0}}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Blogs</h3>
  </div>
  <div class="list-group  panel-body">
    {{#each mostrecentblogs.result}}
        <a class="list-group-item" href="/viewblog/showdetails/{{this._id}}">{{this.topic}}</a> {{/each}}
  </div>
</div>
{{/Compare}}