<div class="row">
    <div class="my-container">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <img src="/ankit/ankit_profile.jpg" alt="" class="img-responsive imgAboutImage">
            </div>
            <div class="col-lg-8">
                <h2>Ankit Goel</h2>
                <p>Around 8 years of working experience in web software development and enterprise solutions. Mainly engaged in the developing application
                    using Microsoft technologies and JavaScript framework with CMS. Coordinating work with distributed teams and communicating with business
                    on various environments. Experience in planning,solution , design and leading a development.
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/ankit-goel-17b8381b">linkedin profile</a>
                </p>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-8">
                <h2>Vaskar Sarma</h2>
                <p>
                    Working with DXC Technology Pvt. Ltd. living in Dubai, UAE. Over 10+ years of experience in IT development using both Microsoft & Open 
                    source technology in both windows and web based applications. Passionate about learning & implementing different technologies, certified 
                    AWS Developer associate , specialised in the following: - Domain Experience (Insurance, Finance and Travel),Estimation, Requirement analysis, 
                    Leading Team, Application/System Architecture, Client Communication, Database Management , Service Oriented Architecture, Web Analytics (Omniture 
                    Site Catalyst, Google Analytic), Enterprise Search, Agile Development, CICD/Devops, TRIDION CMS.
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/vaskar-sarma-9b6ba618">linkedin profile</a>
                </p>
            </div>
            <div class="col-lg-4">
                <img src="/595cde84f8ce4a2250f38820/595cde84f8ce4a2250f38820.jpg" alt="" class="img-responsive imgAboutImage">
            </div>
        </div>
    </div>
</div>