/* nav.navbar.navbar-default {
    background-color: black !important;
} */

.panel-footer {
    background-color: black !important;
}

.panel-footer h1 {
    color: #fff !important;
}

.cancel a {
    color: #fff !important;
}

.signup a {
    color: #fff !important;
}

.alert-signup {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-signup .close {
    color: #fff !important;
}

.nav-link {
    color: white;
    text-decoration: none;
}


/* Start - Circualr Profile Image on Navigation */

.navbarimage {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.four {
    background-image: url('/images/18x18.png');
}

.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui-datepicker {
    z-index: 1000!important;
}


/* End - Circualr Profile Image on Navigation */

.typeahead {
    color: red;
    font-weight: bold;
}

.tt-menu {
    width: 250px;
    margin: 12px 0;
    padding: 9px 9px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.defaultfontweight {
    font-weight: normal;
    color: black;
}

.form-control,
input {
    border-width: 1px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


/* .fa-facebook {
    background: #3B5998;
    color: white;
} */


/* .fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
} */

.fa:hover {
    opacity: 0.7;
}

.close {
    cursor: pointer;
    /* background: transparent; */
    color: #099cec !important;
    border: 0;
    -webkit-appearance: none;
    /* font-family: 'Glyphicons Halflings' !important; */
    font-size: 27.5px !important;
    opacity: 1.2
}

.close:hover,
.close:focus {
    color: black !important;
}

.glyphicons {
    padding: 6px !important;
    cursor: pointer;
    background: transparent;
    color: black;
    border: 0;
    font-family: 'Glyphicons Halflings' !important;
    -webkit-appearance: none;
}

span#loadmoreblog {
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

div.divLoadMore {
    text-align: center;
}

.col-lg-4.divUserBlogs {
    min-height: 100px;
}

.customDiv {
    margin-bottom: 14px;
}

.list-inline>li {
    margin: 24px 100px 0px 50px;
}


/* body {
    padding-top: 70px;
} */

.form-group.serach {
    padding: 21px 0px 0px 0px !important;
}

#inputSearch-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

#inputSearch-icon {
    float: left;
    height: 32px;
    width: 32px;
}

#inputSearch-description {
    margin: 0;
    padding: 0;
}

.resize {
    width: 30px;
    height: auto;
}

label.col-lg-2.control-label {
    margin-top: -11px;
}

.bootstrap-growl.alert.alert-danger {
    top: 12% !important;
    left: 48.3% !important;
}

.bootstrap-growl.alert.alert-success {
    top: 53% !important;
    left: 41% !important;
    max-width: 80% !important;
}

a.dropdown-toggle {
    margin: 0px 0px 0px 0px;
}

a.menubar_dropdown {
    margin: -6px 0px 0px 0px;
}

h4.list-group-item.active,
h4.list-group-item.active:focus,
h4.list-group-item.active:hover {
    background-color: #403c37;
    border-color: #403c37;
}

a.list-group-item:focus,
a.list-group-item:hover {
    color: #ff6000;
}

a.signinlink:focus,
a.signinlink:hover {
    color: #ff6000;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #403c37;
    background: #403c37;
    font-weight: normal;
    color: #ffffff;
}

.item img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.imgcontainer:hover .item img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

body {
    /* color: #777 !important; */
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    line-height: 1.6;
    font-weight: 400;
    font-style: normal !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
    background-color: #FFF;
    color: #333;
}

.post-entry a.more-link {
    margin-top: 40px;
    border-radius: 1px;
    text-transform: uppercase;
    line-height: 1.75;
    color: #5d5d5d;
    border: 1px solid #ccc;
    letter-spacing: 2px;
    font-size: 10px;
    padding: 0 15px;
    /* font-family: 'Montserrat'; */
    line-height: 38px;
    display: inline-block;
    text-transform: uppercase;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.post-header {
    margin-bottom: 27px;
    text-align: center;
}

.post-header h1 a,
.post-header h2 a,
.post-header h1 {
    /* font-family: Raleway; */
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #222;
    text-decoration: none;
}

.bottom-blog {
    display: inline-block;
    width: 100%;
    border-top: 1px dashed #999;
    padding: 0px 0px 0px 0px;
    margin-top: 30px;
    margin: 0;
}

.blog-date li {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    margin-right: 14px;
}

ol,
ul,
li {
    list-style: none;
}

.blog-date li .fa {
    font-size: 16px;
    color: #099cec;
    margin-right: 10px;
    vertical-align: middle;
}

.group-share li {
    display: inline-block;
    margin-left: 6px;
}

.group-share li a {
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #099cec;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #099cec;
}

a,
#footer-logo p i {
    color: #646464;
}

p {
    margin: 0 0 10px;
}

.post-header a:hover {
    opacity: .2;
}

span.glyphicon {
    color: #777;
}


/* body {
    background-image: url('/images/background.png');    
} */

.post-entry .continuesRead {
    text-align: center;
}

.blogCategory-box {
    text-align: center;
    padding: 15px 15px 15px 15px;
    width: 26%;
    background: #fff;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: .3rem;
    overflow: hidden;
    margin: 0px 37px 30px 36px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    column-gap: 20px;
}

article.post {
    padding: 15px 15px 15px 15px;
    /* width: 100%; */
    background: #fff;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: .3rem;
    overflow: hidden;
    /* margin: 0px 37px 30px 36px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    column-gap: 20px;
}

img.imgPostImage {
    width: 60%;
    display: block;
    margin: 5px auto;
}

span.loadmore {
    border-radius: 1px;
    text-transform: uppercase;
    line-height: 1.75;
    color: #ffffff;
    border: 1px solid #555;
    letter-spacing: 2px;
    font-size: 10px;
    /* font-family: 'Montserrat'; */
    line-height: 38px;
    display: inline-block;
    text-align: center;
    padding: 0px 15px 0px 12px;
    background-color: #555;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.side-item {
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}


/* .side-image {
    float: left;
    margin-right: 14px;
} */

.side-item-text {
    overflow: hidden;
}

.sideText {
    font-size: 15px;
    margin: 15px 0px 0px 0px;
    color: #777 !important;
    /* font-family: Lora !important; */
}

span.side-item-meta {
    font-size: 10px;
    letter-spacing: 1px;
    color: #999;
    font-style: italic;
    /* font-family: "Open Sans"; */
    margin: 13px 10px 8px 1px;
}

img.imgSideImage {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2.headertext span {
    /* font-family: 'Montserrat'; */
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    line-height: 27px;
    padding: 2px 18px;
    border: 1px dashed #ccc;
    display: inline-block;
    margin: 0px 0px 6px 0px;
    background: #ffffff;
    position: relative;
    border-radius: 6px;
}

h2.headertext {
    position: relative;
    text-align: center;
    /* font-family: "Open Sans", sans-serif; */
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.headertext:before {
    content: "\A";
    width: 100%;
    height: 1px;
    top: 49%;
    border-bottom: 1px dashed #ccc;
    position: absolute;
    left: 0;
}

.side-image img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.side-item:hover .side-image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.blog-panel {
    padding: 0px 25px 0px 25px;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: .3rem;
    overflow: hidden;
    /* margin: 0px 37px 30px 36px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    column-gap: 20px;
}

.panel.panel-default {
    padding: 5px 5px 5px 5px;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: .3rem;
    overflow: hidden;
    /* margin: 0px 37px 30px 36px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    column-gap: 20px;
}


/* User comments section */

.avatar-image-container {
    float: left;
    max-height: 50px;
    overflow: hidden;
    width: 50px;
}

img.avatarImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}

div.comment-block {
    margin-left: 80px;
    position: relative;
}

a.citaUser {
    /* display: block; */
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
    color: #333;
    /* font-family: "Open Sans"; */
}

#blog-pager {
    clear: both;
    font-size: 16px;
    line-height: normal;
    margin: 0;
    padding: 10px;
    /* font-family: times new roman; */
    overflow: hidden;
}

#blog-pager-newer-link {
    display: inline;
    float: left;
    width: 50%;
    text-align: left;
    padding: 0;
}

#blog-pager-older-link {
    display: inline;
    float: right;
    width: 50%;
    text-align: right;
    padding: 0;
}

h4.nextLink {
    color: #555;
}

h4.previousLink {
    color: #555;
}

cite.user {
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
}

span.datetime.secondary-text {
    margin-left: 55%;
}

.blog-panel h2 {
    text-align: center;
}

.site-social-networks li {
    text-align: center;
    width: 32.2222%;
    background-color: #F7F7F7;
    margin-bottom: 3px!important;
    padding-bottom: 7px;
    display: inline-block;
    padding: 0;
}

.site-social-networks a {
    margin: 20px auto 0 auto;
    text-transform: uppercase;
    font-size: 10px;
}

.site-social-networks i.fa {
    width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #444;
    display: block;
    padding: 4px 0px 0px 0px;
}

ul.site-social-networks.secondary-2-primary.style-default.show-title {
    padding: 0px;
}

.widget-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.viewBlogCart-first {
    margin: 0px 0px 15px 0px;
}

.viewBlogCart {
    margin: 20px 0px 20px 0px;
}

.categories span.label-size {
    display: inline-block;
    float: left;
    font-size: 11px;
    line-height: normal;
    margin: 0 5px 5px 0;
    opacity: 1;
}

.categories a.categoryLabel {
    background: #f7f7f7;
    color: #333;
    float: left;
    border: 1px solid #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    line-height: 100%;
    margin: 0;
    padding: 8px 10px;
    text-transform: uppercase;
    transition: all .6s;
    text-decoration: none;
}

div.clear {
    clear: both;
}

img.imgAboutImage {
    width: 100%;
    display: block;
    margin: 5px auto;
}

a {
    color: blue;
}