/* Circualr Profile Image  */

.user {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.one {
    background-image: url('/images/default.png');
}

.two {
    background-image: url('/images/150x150.png');
}

.three {
    background-image: url('/images/350x750.png');
}


/* ############# Start My Profile Accordion #########################  */

.imgCircle {
    border-radius: 50%;
}


/* .form-control {
    padding: 10px 50px;
} */

.form-input {
    height: 50px;
    border-radius: 0px;
    margin-top: 20px;
}

.Profile-input-file {
    top: 0px;
    z-index: 999;
}


/* .bg-form {
    width: 100%;
    position: relative;
    background: url("/background/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
     background-color: aliceblue; 
} */

.bg-form {
    width: 100%;
    position: relative;
    /* background: url("/background/6.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    /* background-color: aliceblue; */
}

.custom-form {
    float: left;
    width: 100%;
    border-radius: 82px;
    box-shadow: 0 0 16px #fff;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.6);
}

.img-section {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    /* background: rgba(0, 0, 0, 0.7); */
    position: relative;
}

.img-section h4 {
    color: #0000ff;
}

#PicUpload {
    color: #ffffff;
    width: 180px;
    height: 180px;
    background: rgba(255, 255, 255, 0.4);
    padding: 100px;
    position: absolute;
    left: 30.5%;
    border-radius: 50%;
    display: none;
    top: 15px;
}

.camera {
    font-size: 50px;
    color: #333;
}

.custom-btn {
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 60px;
    margin-bottom: 15px;
}

#checker {
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
    color: blue;
}

#checkeraboutme {
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
}

#checkerpersonalinfo {
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
}

#checkerprofinfo {
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
}

.color {
    color: #fff;
}


/*====== style for placeholder ========*/

.form-control::-webkit-input-placeholder {
    color: lightgray;
    font-size: 18px;
}

.form-control:-moz-placeholder {
    color: lightgray;
    font-size: 18px;
}

.form-control::-moz-placeholder {
    color: lightgray;
    font-size: 18px;
}

.form-control:-ms-input-placeholder {
    color: lightgray;
    font-size: 18px;
}

.profile-photo {
    margin-bottom: 10px;
    margin-top: -28px;
}


/**
 * Ranking component
 */

.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #000000;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}


/* .panel-border-radius {
    border-radius: 28px;
} */


/* .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 1px solid #3498db;
    border-bottom-color: transparent;
} */

.nav-tabs {
    border-bottom: 1px solid #ecf0f1;
}

.panel-info {
    /* border-color: #ecf0f1; */
    border-color: TRANSPARENT;
}

.panel-edit-checker {
    margin-top: 15px;
    margin-bottom: -10px;
    margin-right: 20px;
}


/* .profile-content-panel-border-radius {
    border-radius: 28px;
} */

textarea {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: 0;
    cursor: text;
}

textarea {
    resize: none;
    border: none;
}

textarea#aboutme {
    border-width: 1px !important;
    margin: 0px !important;
}

.historyblock {
    float: right;
}

span#loadmoreblogbyuserid {
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
}

.fa {
    /* padding: 20px !important;
    font-size: 30px !important; */
    font-size: 25px;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: 50% !important;
    display: inline !important;
    float: right;
}


/* .social a:hover {    
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
} */


/* 
.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
} */


/* .commentstats {
    float: right;
}

.commentFooter {
    background-color: #3498db !important;
    color: white;
    padding: 5px 8px
} */

.commentstats {
    float: right;
    padding-bottom: 10px;
}

.commentFooter {
    background-color: black !important;
    color: white;
    padding: 5px 8px;
}

.comment-panel-default {
    border-color: cadetblue;
    background-color: aliceblue;
}

.progress {
    height: 21px;
}

span.profileCompleted {
    font-size: 12px;
}

.progress-bar {
    padding: 5px 0px 0px 0px !important;
}

hr {
    border-top: 1px solid transparent !important;
}