{{#if bloghistory}} {{#Compare bloghistory.count ">" 0}}
<a href="/viewblog/showdetails/{{selectedBlogID}}">View Blog</a>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Activity</th>
        </tr>
    </thead>
    <tbody>
        {{#each bloghistory.result}}
        <tr data-key="{{this._id}}">
            <td>
            <span class="glyphicon glyphicon-hand-right" /></td>
            <td>{{#CovertISODate this.date}}{{/CovertISODate}}</td>
            <td>Blog was {{this.actiontype}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="nobloghistory">
    <strong>No records available!!!</strong>
</div>
{{/Compare}} 
{{/if}}