<div class="form-group serach">
    {{!-- <label for="inputPassword" class="col-lg-2 control-label">Password</label> --}}
    <div>
        <div class="input-group">
            <input type="text" class="form-control input-sm" id="inputSearch" placeholder="Search">
            <span class="input-group-btn">
                            <button type="submit" id="UserSearchBtn" class="btn btn-info btn-sm ">
                                 <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
    </div>
</div>