<div class="list-group">
  <ul class="list-group panel-info">
    <li class="list-group-item panel-heading">
      <span class="close  regUserComments ">&#xe031;</span>Comments info
    </li>
    {{#each user}} {{#each this}}
    <li class="list-group-item hover">
      <span class="badge">{{total}}</span> {{text}}
    </li>
    {{/each}} {{/each}}
  </ul>
</div>