{{#if comments}} {{#Compare comments.count ">" 0}} {{#each comments.result}}
<div class="panel panel-default">
    <div class="panel-body">
        {{this.comment}}
    </div>
    <div class="panel-footer text-right">by <i>{{this.username}} <span class="glyphicon glyphicon-time"></span> Posted on 
      {{#CovertISODate this.creationdate}}{{/CovertISODate}}</i></div>
</div>
{{/each}} {{/Compare}}{{/if}} 